.content {
    background-color: dodgerblue;
    margin: auto;

} 


#home-audio-systems, 
#home-theater-systems,
#television-installation,
#phone-and-network-systems {
    background-color: deeppink;
}

h1,
h3,
p {
    text-align: center
}

